.pokemons{
    display: flex;

}

.pokemonDisplay{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: var(--white);
    border-radius: 25px;

    height: 300px;
    width: 225px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.upper{
    height: 70%;
    width: 100%;
    border-radius: 25px 25px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 4px solid black;
    border-bottom: 0;
}

.id{
    align-self: flex-end;
    margin-right: 10px;
    font-weight: 900;
}

.lower{
    height: 30%;
    width: 100%;
    border-radius: 0 0 25px 25px;   
    border: 4px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(49, 102, 176);
    color: rgb(255, 204, 0);

    text-shadow:
    0.05rem 0 black,
    0 0.05rem black,
    -0.05rem 0 black,
    0 -0.05rem black,
    -0.05rem -0.05rem black,
    -0.05rem 0.05rem black,
    0.05rem -0.05rem black,
    0.05rem 0.05rem black;
}

#search{
    all: unset;
    position: sticky;
    top: 10px;
    margin-left: 50dvw;
    transform: translateX(-50%);
    background-color: var(--white);
    
    width: 50%;
    min-width: 300px;
    height: 40px;
    border-radius: 20px;

    outline: 2px solid black;
    text-align: center;
}

.fullDisplay{
    margin: 20px;
    position: sticky;
    top: 75px;

    max-height: 600px;
    max-width: 500px;
    min-width: 400px;
    height: 100dvh;
    width: 100dvw;
    border-radius: 10px;
    border: 3px solid black;
}

.pic{
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic img{
    margin-bottom: -25%;
}

.pic p{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;

    text-shadow:
    0.05rem 0 white,
    0 0.05rem white,
    -0.05rem 0 white,
    0 -0.05rem white,
    0.05rem 0.05rem white;
}

.details{
    height: calc(68% - 60px);
    width: 95%;
    margin: auto;
    border-radius: 10px;

    background-color: white;
    padding-top: 60px;
    border: 3px solid black;
}

.type{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    border: 2px solid black;

    text-shadow:
    0.05rem 0 white,
    0 0.05rem white,
    -0.05rem 0 white,
    0 -0.05rem white,
    0.05rem 0.05rem white;
}

.stats{
    display: flex;
    height: calc(30% - 10px);
}

.stats div{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    display: block;
    text-transform: capitalize;
    opacity: .5;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 10px;
}

.baseStats{
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.progressBar{
    margin-top: 2px;
    width: 78%;
    height: 5px;
    border-radius: 2.5px;
    outline: 1px solid black;
}

.progress{
    max-width: 100%;
    height: 5px;
}

.baseStatName{
    font-weight: 900;
    width: 40px;
    text-align: end;
    margin-right: 5px;
}

.statsNum{
    margin-top: 10px;
}

.move{
    line-height: 1.2rem;
}